@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Roboto:100);

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

.main {
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #34495e;
  /* background: radial-gradient(ellipse at bottom, #e82219 10%, #33201a 100%); */
  background-image: url("/src/asset/bg2.png");
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.countdown {
  display: flex;
}
.block {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}
.text {
  color: #ffffff;
  font-size: 25px;
  font-family: "Roboto Condensed", serif;
  font-weight: 40;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  text-align: center;
}
.digit {
  color: #ecf0f1;
  font-size: 130px;
  font-weight: 100;
  font-family: "Roboto", serif;
  margin: 10px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  /* padding: 15px; */
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  /* background-color: #c07f7f;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="col-1"] {
    width: 0%;
  }

  [class="text"] {
    font-size: 15px;
  }

  [class="digit"] {
    font-size: 80px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 620px) {
  .col-1 {
    width: 0%;
    padding: 0px;
  }
  /* .col-2 {
    width: 18%;
  } */
  [class="text"] {
    font-size: 10px;
    margin-left: 25px;
  }
  [class="digit"] {
    font-size: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .col-1 {
    width: 0%;
    padding: 0px;
  }
  .col-2 {
    width: 10%;
  }
  [class="text"] {
    font-size: 10px;
    margin-left: 20px;
  }
  [class="digit"] {
    font-size: 30px;
  }
}

@media only screen and (max-width: 320px) {
  .col-1 {
    width: 0%;
    padding: 0px;
  }
  .col-2 {
    width: 10%;
  }
  [class="text"] {
    font-size: 10px;
    margin-left: 20px;
  }
  [class="digit"] {
    font-size: 30px;
  }

  .block {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
  }
}
