@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Roboto:100);
.main {
  align-items: center;
  bottom: 0;
  width: 100%;
  /* background-color: #34495e; */
  /* background: radial-gradient(ellipse at bottom, #e82219 10%, #33201a 100%); */
  background-image: url("/src/asset/bg2.png");
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.countdown {
  display: flex;
}
.block {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.text {
  color: #ffffff;
  font-size: 25px;
  font-family: "Roboto Condensed", serif;
  font-weight: 40;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.digit {
  color: #ecf0f1;
  font-size: 130px;
  font-weight: 100;
  font-family: "Roboto", serif;
  margin: 10px;
  text-align: center;
}
